body{
    margin: 0;
}

.head{
    position: sticky;
    top: 0;
    background-color: rgb(216, 8, 8);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center
}
.usuario{
    width: 98px;
    border-radius: 10px;
}
.video-box{
    width: 350px;
    margin-top: 15px;
}
.video{
    margin: 0;
    padding: 0;
    width: 350px;
    font-size: 20px;
    font-weight: 600;
}
.img-video{
    width: 350px;
    border-radius: 10px;
}

.video-title{
    font-size: 22px;
    font-weight: 600px;
    margin: 2px;
    margin-left: 10;
    width: 300px;
}

.video-user{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 40px;
}

.user{
    display: flex;
    flex-direction: row;
    width: 79.5%;
    gap: 10px;
}

.user-description{
    display: flex;
    flex-direction: column;
    
}

.user-name{
    font-size: 14px;
    margin: 10;
}

.user-subs{
    font-size: 10px;
    margin: 20px;
}

.subscribe{
    border-radius: 30px;
    background: black;
    border: solid black 1px;
    color: white;
    
    
    
}

.overlay{
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 20;
    inset: 0;
}

.overlay.aberto{
    opacity: 1;
    pointer-events: auto;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
    z-index: 30;
    background: #fff;
}

.menu.aberto{
    transform: translateX(0);
}

.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-close{
 width: 30px;
 height: 30px;
}

.logo-youtube{
    width: 35px;
    height: 30px;
}
.main{
    display: grid;
    grid-template-columns: 400px 400px 400px ;
    gap: 17px;
    padding: 100px;
    
}